@media screen and (max-width: 710px) {
    .logo {
        visibility: hidden;
    }
    .social ul{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 12px;
        font-weight: 700;

     }
     .social p {
         margin-bottom: 15px;
     }
    p .catch-phrase{
        font-size: 12px;
    }
    .button {
        position: relative;
        overflow: hidden; // so important!
        margin: 3px 0;
        padding: 12px 9px;
        width: 50%;
  
        color: rgba(0, 0, 0, 0.56);
        font-size: 12px;
        font-weight: 500;
        background: #727BA8;
        opacity: 0.75;
        border-radius: 2px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }

    .index-button {
        position: relative;
        overflow: hidden; // so important!
        margin: 3px 0;
        padding: 12px 9px;
        width: 50%;
  
        color: rgba(0, 0, 0, 0.56);
        font-size: 12px;
        font-weight: 500;
        background: #727BA8;
        opacity: 1;
        border-radius: 2px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
}

@media screen and (min-width: 711px) {
    .social ul{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 25px;
        font-weight: 700;
    }
    .logo {
        height: 250px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 60px;
    }
    p .catch-phrase {
        font-size: 46px;
    }
    .button {
        position: relative;
        overflow: hidden; // so important!
        margin: 3px 0;
        padding: 12px 9px;
        width: 50%;
  
        color: rgba(0, 0, 0, 0.56);
        font-size: 25px;
        font-weight: 500;
        background: #727BA8;
        opacity: 0.75;
        border-radius: 2px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }

    .index-button {
        position: relative;
        overflow: hidden; // so important!
        margin: 3px 0;
        padding: 12px 9px;
        width: 50%;
  
        color: rgba(0, 0, 0, 0.56);
        font-size: 30px;
        font-weight: 500;
        background: #727BA8;
        opacity: 1;
        border-radius: 2px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
}
